* { font-family: 'Montserrat';
padding: 0px;
margin: 0px;}


h1 { position: relative;
left: 100px;
top: 75px;
color: #3FE847;
font-size: 40px;
font-style: normal;
font-weight: 400px;}

aside {border-radius: 20px;
   margin-top: 50px;
   background: #574AE8;;
   height: 600px;
   width: 600px;
   position: fixed;
   top: 100px;
   right: 600px;
   padding: 2px;
   color: #3FE847;
 }

.aside1 {position:relative;
         top: 120px;
         left: 48px;
         margin-bottom: 10px;
        
         font-size: 28px ;}

button { position: relative;
top: 160px;
left: 150px;
width: 300px;
height: 89.29px;
border-radius: 20px;
background: #3FE847;
border: none;
color:black;
cursor: pointer; }
   
section 
{  color: #655AE0;
   background: #3FE847;
   box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
   Width:500px;
   Height:1124px;
   Top:-120px;
   Left:-106px; position: fixed;}

h2 {  font-size: 27px;
      font-style:italic ;
      font-weight: 100px;
      line-height: normal; position: relative;
      top: 900px;
      left: 200px;
      width:260px;
      text-align: right;}
input { 
border-radius: 10px;
border: none; position: relative;
left: 10px; height:30px; width: 220px;

}


